<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.IO chat</title>
    <link href="Styles/style.css" rel="stylesheet" type="text/css" />
    
  </head>

  <body>
    <input id="usernm" autocomplete="off"  placeholder="Enter Your name"/>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="Type a message"/><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="Scripts/script.js"></script>
    
  </body>
</html>
